<h3>Get an address by typing in latitude and longitude coordinates.</h3>

<form>
   <div class="form-group">
      <label>Latitude:</label>
      <input #lat>
      <p>e.g. 40.714224 </p>
      <br>
      <label>Longitude:</label>
      <input #long>
      <p>e.g. -73.96145 </p>
   </div>
   <button (click)="getAddress(lat.value, long.value); lat.value=''; long.value=''">Get Address</button>
</form>
<br>
<h3>Get latitude and longitude coordinates by typing in an address .</h3>

<form>
   <div class="form-group">
      <label>Street Number:</label>
      <input #number>
      <p>e.g. 277 </p>
      <label>Street Name:</label>
      <input #street>
      <p>e.g. Bedford Avenue</p>
      <label>City:</label>
      <input #city>
      <p>e.g. Brooklyn</p>
      <label>State:</label>
      <input #state>
      <p>e.g. ny </p>
      <label>Zip Code:</label>
      <input #zip>
      <p>e.g. 11211 </p>
      <label>Country:</label>
      <input #country>
      <p>e.g. usa </p>
   </div>
   <button (click)="getCoordinates(number.value, street.value, city.value, state.value, zip.value, country.value); number.value=''; street.value=''; city.value=''; state.value=''; zip.value=''; country.value=''">Get Coordinates</button>
</form>
<br>
<br>
<div *ngIf="address">
   <p> The Address found at the given coordinates is <strong>{{address}}</strong>!</p>
</div>

<div *ngIf="coordinates">
   <p> The latitude at the given address is <strong>{{coordinates.lat}}</strong>!</p>
   <br>
   <p> The longitude at the given address is <strong>{{coordinates.lng}}</strong>!</p>
</div>
